{% extends 'template/layout.html.twig' %}

{% block content %}
    <div class="container">

            <H1 class="text-center ">
                Page d'accueil
            </H1>
            <div class="container bloc-perso">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img class="myPicutre" src="../P5/public/img/moi.jpg" alt="ma photo">
                    </div>
                    <div class="col-md-8 ">
                       <p> Thibault Vacheron</p>
                        <p>Email : Vacheron.thibault@gmail.com</p>
                        <p>Le développeur qu'il vous faut ! </p>
                        <a href="../P5/public/CV-thibault-vacheron.pdf " target="_blank"  class="btn btn-success btn-lg">Mon cv</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 container-form">
            <h2 class="title" >Contactez-nous</h2>
            <div class="alt"><div class="toggle"></div></div>


        <form class="contact" name="contact_form" method="post" action="../P5/contact">

                        <div class ="content-form col-md-6">



                            <input  type="text" name="nom" maxlength="50" size="30" required="required">
                            <label for="nom">Nom *</label>
                            <div class="bar"></div>
                        </div>

                        <div class ="content-form col-md-6">


                            <input  type="text" name="prenom" maxlength="50" size="30" required="required">
                            <label for="prenom">Prénom *</label>
                            <div class="bar"></div>
                        </div>

                        <div class ="content-form col-md-12">


                            <input  type="text" name="email" maxlength="80" size="30" required="required">
                            <label for="email">Email Addresse *</label>
                            <div class="bar"></div>
                        </div>

                        <div class ="content-form col-md-12">



                            <input  type="text" name="telephone" required="required" maxlength="30" size="30" >
                            <label for="telephone">Téléphone</label>
                            <div class="bar"></div>
                        </div>
                        <div class ="content-form col-md-12">


                            <textarea  name="commentaire" cols="28" required="required" rows="10"></textarea>
                            <label for="commentaire">Message *</label>
                            <div class="bar"></div>
                        </div>

                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Envoyer</button>
                            </div>
                        </div>

        </form>
        </div>


{% endblock %}