header {
    padding-bottom: 100px;
}

footer {
    background: #2C3E50;
}

.list-blog {
    text-align: center;

    box-shadow: #cccccc;
    padding: 20px;
}

.list-blog .content {
    border: 1px solid #000000;
}

.content-form input, .content-form textarea {
    width: 100%;
}

.content-form label {
    text-transform: uppercase;
}

.titre {
    text-align: center;
    padding: 50px 0;
}

.image-blog img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.commentaire {
    border-bottom: 1px solid;
}

.bloc-commentaire {
    padding: 20px;
    border: solid grey 1px;
}

.bloc-commentaire form {
    border-bottom: 1px solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#content_commentaire {
    width: 100%;
    min-height: 150px;
}

.list-blog-user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-blog-user {
    margin-bottom: 30px;
    border: solid 1px #000000;
}

.page-user-blog {
    padding-top: 50px;
    padding-bottom: 50px;
}