{% extends 'template/layout.html.twig' %}

{% block content %}



<div class="container page-connexion">



    <div class="col-lg-8 col-lg-offset-2 container-form">
        <h1 class=" title">connexion</h1>
        <div class="alt">
            <div class="toggle"></div>
        </div>
        <form action="../P5/connect" method="post">

            <div class="content-form col-md-12">

                <input type="email" required="required" id="title" name="email" />
                <label for=" title">Email</label>
                <div class="bar"></div>
            </div>

            <div class="content-form col-md-12">

                <input type="password" required="required" id="title" name="password" />
                <label for=" title">Mot de passe</label>
                <div class="bar"></div>
            </div>




            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-success btn-lg">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}
