{% extends 'template/layout.html.twig' %}

{% block content %}


<div class="container">



    <div class="col-lg-8 col-lg-offset-2  container-form">
        <h1 class="title">Ajouter un Blog</h1>
        <div class="alt">
            <div class="toggle"></div>
        </div>
        
        <form action="../P5/storepost" method="post" enctype="multipart/form-data">
            
            <div class="input-img content-form col-md-12">
                <input type="hidden" name="MAX_FILE_SIZE" value="300000" />
                <label>Image</label>
                <input type="file" name="image" id="image" required="required">
                
                
            </div>
            
            <div class="content-form col-md-12">
                
                <input type="text" id="title" name="title" required="required" />
                <label>title</label>
                <div class="bar"></div>
            </div>

            <div class="content-form col-md-12">
                
                <textarea id="short" maxlength="200" rows="5" name="chapo" required="required"></textarea>
                <label>châpo</label>
                <div class="bar"></div>
            </div>

            <div class="content-form col-md-12">
                
                <textarea id="content" rows="10" name="content" required="required"></textarea>
                <label>content</label>
                <div class="bar"></div>
            </div>

            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-success btn-lg">Envoyer</button>
                </div>
            </div>
        </form>
        
    </div>


</div>

{% endblock %}
