{% extends 'template/layout.html.twig' %}

{% block content %}


    <div class="container">
        <h1>Inscription</h1>
        <div class="content-form">
            <form action="../P5/storeuser" method="post">
                <div>
                    <label for="title">Nom</label><br />
                    <input type="text" required="required" id="title" name="username" />
                </div>
                <div>
                    <label for="title">Prénom</label><br />
                    <input type="text" required="required" id="title" name="lastname" />
                </div>
                <div>
                    <label for="title">Email</label><br />
                    <input type="email" required="required" id="title" name="email" />
                </div>
                <div>
                    <label for="title">Mot de passe</label><br />
                    <input type="password" required="required" id="title" name="password" />
                </div>



                <div>
                    <input type="submit" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}